body {
  font-family: $font-main;
  line-height: 1.8;
  color: $color-grey-dark;
  background: $color-background-main;
}

h1,
h2,
h3 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
}

h2,
h3 {
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  font-size: 1.5rem;
}

b,
strong {
  font-weight: 600;
}

blockquote {
  font-family: $font-serif;
  font-style: italic;
  color: $color-grey-medium;
}
