body {
  font-family: $font-main;
  line-height: 1.8;
  color: #252525;
  background: #f7f7f7;
}

h1,
h2,
h3 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
}

h2,
h3 {
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  font-size: 1.5rem;
}

blockquote {
  font-family: $font-serif;
  font-style: italic;
}
