@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600|IBM+Plex+Serif');
$font-main: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
$font-serif: 'IBM Plex Serif', Helvetica, Arial, sans-serif;

$max-container-width: 700px;
$max-image-width: 960px;

$shadow-decent: 0 0 3px #e7e7e7;

$color-grey-dark: #252525;
$color-grey-medium: #77777c;
$color-grey-light: #cecece;

$color-code-background: #f6f8fa;
$color-body-background: #fcfcfd;
$color-item-background: #ffffff;

$color-pink: #ff374d;
$color-yellow: #f0f732;
$color-green: #40f3b8;
$color-blue: #0415f2;
