main {
  max-width: $max-image-width;
  p,
  ol,
  ul,
  img,
  h1,
  h2,
  h3,
  h4 {
    margin: 20px auto 0 auto;
    max-width: $max-container-width;
  }

  ol,
  ul {
    li {
      margin-left: 25px;
    }
    list-style: inherit;
  }

  img {
    max-width: 100%;
  }
}
