:root {
  --element-space: 30px;
}

main {
  max-width: $max-image-width;
  .blog-post {
    p,
    ol,
    ul,
    img,
    h1,
    h2,
    h3,
    h4,
    iframe,
    twitter-widget {
      margin: var(--element-space) auto 0 auto !important;
      max-width: $max-container-width;
    }

    ol,
    ul {
      li {
        margin-left: 25px;
      }
      list-style: inherit;
    }

    code {
      font-family: Courier, monospace;
      background: $color-code-background;
    }

    blockquote {
      margin: var(--element-space) 0 0 0;
    }

    pre {
      margin: var(--element-space) 0 0 0;
      background: $color-code-background;
      padding: 20px;
      overflow: auto;
      code {
        background: none;
      }
    }

    iframe {
      width: 100%;
    }

    img {
      max-width: 100%;
    }
  }

  img {
    max-width: 100%;
  }
}
