@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600|IBM+Plex+Serif');
$font-main: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
$font-serif: 'IBM Plex Serif', Helvetica, Arial, sans-serif;

$max-container-width: 700px;
$max-image-width: 960px;

$color-grey-dark: #252525;
$color-grey-medium: #77777c;
$color-grey-light: #cecece;

$color-code-background: #f6f8fa;

$color-highlight: #eb3656;
