:root {
  --element-space: 30px;
}

main {
  --grid-gap: 40px;
  max-width: $max-image-width;

  a.more {
    display: inline-block;
    padding: 20px;
    margin-bottom: var(--grid-gap);
    text-decoration: none;
    background: $color-item-background;
    box-shadow: $shadow-decent;
  }

  .blog-post {
    p,
    ol,
    ul,
    img,
    h1,
    h2,
    h3,
    h4,
    iframe,
    twitter-widget {
      margin: var(--element-space) auto 0 auto !important;
      max-width: $max-container-width;
    }

    ol,
    ul {
      li {
        margin-left: 25px;
      }
      list-style: inherit;
    }

    code {
      font-family: Courier, monospace;
      background: $color-code-background;
    }

    blockquote {
      margin: var(--element-space) 0 0 0;
    }

    pre {
      margin: var(--element-space) 0 0 0;
      background: $color-code-background;
      padding: 20px;
      overflow: auto;
      code {
        background: none;
      }
    }

    iframe {
      width: 100%;
    }

    img {
      max-width: 100%;
    }
  }

  .blog-list,
  .project-list {
    margin: var(--grid-gap) 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: var(--grid-gap);
    a {
      padding: 20px;
      text-decoration: none;
      background: $color-item-background;
      h1 {
        color: $color-almost-black;
        font-size: 1.8rem;
        @media only screen and (max-width: $breakpoint-tablet) {
          font-size: 1.2rem;
        }
        position: relative;
      }
      box-shadow: $shadow-decent;
      display: grid;
      grid-gap: 20px;
      &:nth-of-type(4n + 1) {
        grid-column: 1 / 4;
      }
      &:nth-of-type(4n + 2) {
        grid-column: 4 / 6;
      }
      &:nth-of-type(4n + 3) {
        grid-column: 1 / 3;
      }
      &:nth-of-type(4n + 4) {
        grid-column: 3 / 6;
      }

      @media only screen and (max-width: $breakpoint-phone) {
        &:nth-of-type(n) {
          grid-column: 1 / 6;
        }
      }
    }
  }
  .project-list {
  }
}
